* {
  padding: 0;
  margin: 0;
}

body {
  font-family: poppins;
  background-color: #f2f2f2;

}

/*CREATE VARIBALES IN CSS*/
:root {
  --header-color: #0b2f00;
  --headertextcolor: #fff;
  --login-button-text-color: #fff;
  --text-color: #f2f2f2;
  --offerproducts-price-bg-color: #f7dd48;
  --offerproducts-price-text-color: #d10202;
  --cosmetic-and-skincare-highlight-color:#fed2d1;
  --ratingstar-color:#fd8802;
}

/* HEADER AND NAV BAR STYLES*/
header {
  position: fixed;
  top: 0;
  height: 130px;
  right: 0;
  left: 0;
  background-color: var(--header-color);
  z-index: 2;
}

header nav img {
  width: 200px;
  margin-left: 10px;
}

header nav div {
  display: flex;
  width: 550px;
  height: 130px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  justify-content: start;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

header nav ul {
  list-style: none;
}

header nav ul li a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--headertextcolor);
  font-weight: 500;
  font-size: 16px;
}

/*CREATE HOVER FOR UL LI A*/
header nav ul li a:hover {
  color: #51ac37;
}

.login-section-in-header {
  display: flex;
  width: 15px;
  margin-right: 140px;
}

.login-section-in-header a {
  text-decoration: none;
  white-space: nowrap;
  color: var(--login-button-text-color);
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: #51ac37;
  border-radius: 5px;
  font-weight: 600;

}

.login-section-in-header a:hover {
  color: #000;
  transition: 0.40s;


}

.login-section-in-header a:active {
  opacity: 0.7;
}


/* SEARCH BAR STYLES */
.searchbar-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 125px;
}

.searchbar-section input {
  padding: 15px;
  width: 600px;
  border-radius: 30px;
  outline: none;
  background-color: var(--text-color);
}

.searchbar-section input::placeholder {
  color: var(--header-color);
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.searchbar-section img {
  position: absolute;
  right: 10px;
  top: 3px;
  width: 40px;
}

/*order-page-background-image styles*/
.order-bg-image{
  margin-top:82px;
  width:100%;
  height:500px;
  position: relative;
  cursor: pointer;
}
.order-bg-image img{
  width:100%;
  height: 100%;
  background-size: auto;
  background-position: center;
  background-size: cover;
}


.info-on-background-image{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
  right:0%;
}
.info-on-background-image h1{
  color:var(--header-color);
  font-size: 3em;
}
.info-on-background-image h3{
  color:var(--offerproducts-price-text-color);
  font-size: 2em;
}
.info-on-background-image span{
  margin-top:20px;
  color:#000;
  font-weight: 600;
  font-size: 18px;
  

}


/*order form styles*/
   
   /*order form heading styles*/

   .order-form-heading{
    display: flex;
    justify-content: center;
    margin: 80px;
   }
   .order-form-heading h3{
    color:var(--header-color);
    font-size: 1.5em;
    text-align: center;
   }
   .order-form-heading h3::after,.order-form-heading h3::before{
    content: '';
    height:1.5px;
    background-color: var(--header-color);
    display: block;
   }
   .order-form-heading h3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    align-items: center;
   }
   /*create form style*/

   .form-1 input{
    padding:6px;
    font-size:15px;
    
   }
   .main-container-order{
    display: flex;
    justify-content: center;
    background-color: var(--headertextcolor);
    column-gap: 20px;
    margin-left: 100px;
    margin-right:100px;
    border-radius: 10px;
    margin-bottom: 120px;
     } 
     .main-container-order:hover{
      box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
      transition:all 0.15s ease;
     }
   .Container-order{
    display: flex;
    flex-direction: column;
    
    padding:50px;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    
    
    width:500px;
   }
   .form-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .form-1 h3{
    color:var(--header-color);
    font-size: 1.3em;
    margin: 20px 0;
   }
   .first-name-div{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    
   }
   .first-name-div input{
    padding:10px;
    width:100%;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
    
   }
   
   .email-div{
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px 0;
   }
   .email-div input{
    width:100%;
    padding:10px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
   }
   .company-name-div{
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px 0;
   }
   .company-name-div input{
    width:100%;
    padding:10px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
   }
   .first-name-div input::placeholder,
   .email-div input::placeholder,
   .company-name-div input::placeholder{
      color:var(--header-color);
      font-weight: 500;
      padding:0px 0px 0px 10px;
   }

   /*2n form styles*/

   .street-div{
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px 0;
   }
   .street-div input{
    width:100%;
    padding:10px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
   }
   .city-div{
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px 0;
   }
   .city-div input{
    width:100%;
    padding:10px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
   }
   .zip-code-div{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
   }
   .zip-code-div input{
    padding:10px;
    width:100%;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
   }
   .code-div{
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px 0;
   }
   .code-div input{
    padding:10px;
    width:100%;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
    margin:10px 0;
   }
   /*form 3 styles*/
   
   .text-card-numbers-heading{
    color:var(--header-color);
    font-size: 12px;
   }
   .text-card-numbers-heading mark{
    color:var(--offerproducts-price-text-color);
    background:none;
   }
   
   .month-year-cvv-div{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin:10px 0;
   }
   .month-year-cvv-div input{
    padding:10px;
    width:200px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
    
   }
   .name-month-year{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin:10px 0;
    gap:5px;
   }
   .name-month-year select{
    padding:10px;
    width:100px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
    
   }
   .cvv-div{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin:10px 0;
   }
   .cvv-div input{
    padding:10px;
    width:200px;
    border-radius: 5Px;
    border: 2px solid #51ac37;
    outline:none;
    margin:10px 0;
   }
   .privacy-span{
    color:var(--header-color);
    font-size: 12px;
    font-weight: 600;
   }
   
   .privacy-span mark{
    color:var(--offerproducts-price-text-color);
    background: none;
   }
   .checkout-btn input{
    padding:12px 60px 12px 60px;
    border:none;
    background:var(--offerproducts-price-bg-color);
    color:var(--header-color);
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
   }
   .checkout-btn input:hover{
    
    color:#51ac37;
    transition: all 0.15s ease;
   }
   .safe-span{
    color:var(--header-color);
    font-size: 12px;
    margin: 10px 0;
    font-weight: 600;
   }

   /*table styles*/

   .side-table{
    display: flex;
    flex-direction: column;
    
   }
   .purchase-item-list{
    border-collapse: collapse;
    margin:25px 0;
    font-size:1em;
    width:500px;
    height:300px;
    padding:20px;
    
   }
   .purchase-item-list thead tr{
    text-align: left;
   
    color:var(--header-color);
    font-weight: 600;
    background-color:var(--cosmetic-and-skincare-highlight-color);
   }
   .purchase-item-list tr{
    padding:20px;
   }
   .purchase-item-list th{
    padding:10px;
   }
   .purchase-item-list tbody tr{
    border-bottom: 3px solid #dddddd;
   }
   .purchase-item-list tbody{
    color:var(--header-color);
    font-size:15px;
   }
   .highlight-td{
    font-weight: 600;
   }
   .highlight-price{
    color:#51ac37;
    font-weight: 600;
   }

   /*grocery combo img styles*/
  .grocery-combo-img{
    width:80%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
   .order-details-heading{
  
    margin:20px 0;
    color:var(--header-color);
    font-size: 1.5em;
    margin-left: 25px;
   }
   .grocery-combo-img img{
    width:100%;
    height:100%;
    margin:20px;
    margin-left: 12%;
   }
   .grocery-combo-img ul{
    margin-left:200px;
    color:var(--header-color);
    font-weight: 500;
    font-size: 15px;
   }
   .side-table{
    border-left:3px solid #dddddd;
    cursor: pointer;
    margin-bottom: 50px;
   }
   .side-table div{
    padding:30px;
   }

  
/*CREATE FOOTER STYLES*/

footer {
  background-color: var(--header-color);
  padding: 80px 0px 120px 0px;
  position: relative;
  height:auto;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-times {
  display: flex;
  flex-direction: column;
}

.mobile-times img {
  width: 48px;
}

.mobile-times i{
  font-size: 25px;
  color:#8000ff;
}
.mobile-number {
  color: #51ac37;
  font-size: 20px;
  font-weight: 600;
}

.times {
  color: #fff;
  font-weight: 500;
}

/*quik check link styles*/
.quick-check-links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.quick-check-links h4 {
  color: #51ac37;
  font-weight: 600;
}

.quick-check-links h4:hover {
  color: #fff;
}

.quick-check-links ol {
  margin-top: 10px;
}

.quick-check-links ol li {
  color: #fff;
}

.quick-check-links ol li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.quick-check-links ol li a:hover {
  color: #51ac37;
}

/*customer services styles*/
.customer-service {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.customer-service ul {
  margin-top: 10px;
}

.customer-service h4 {
  color: #51ac37;
  font-weight: 600;
}

.customer-service h4:hover {
  color: #fff;
}

.customer-service ul li {
  color: #fff;

}

.customer-service ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.customer-service ul li a:hover {
  color: #51ac37;
}

/*social midea links style*/

.social-midea-links {
  display: flex;
  margin-left: 50px;
  
}

.social-midea-links a {
  margin-right: 15px;
}

.social-midea-links a i {
  color:var(--headertextcolor);
  font-size: 30px;
  transition: all 0.20s ease;
  
}
.social-midea-links a i:hover{
  transform: translatey(-2px);
  color:var(--offerproducts-price-bg-color);
}

/*copyright and payment methode footer section styles*/

.last-footer-section {
  position: absolute;
  bottom: 0;
  height: 80px;
  background-color: #000;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;

}

.copyright-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-span span {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.pay-methodes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: end;
}

.pay-methodes i{
  color:var(--headertextcolor);
  margin:0px 10px 0px 0px;
  font-size: 35px;
  color:var(--offerproducts-price-bg-color);
  cursor: pointer;
  transition: all 0.30s ease;
}
.pay-methodes i:hover{
  transform: translatey(-2px);
}
.slide{
  display: none;
}
.toggle{
  display: none;
}
/*making mobile responsive*/

@media (max-width:768px){
  header{
    display: none;
  }
  .order-bg-image{
    width:100%;
    height:300px;
    margin-top: 90px;
  }
  .order-bg-image img{
    width:100%;
    height:100%;
    position: relative;
  }
 
  .info-on-background-image{
    display: flex;
    align-items:center;
    justify-content:end;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
  }
  .info-on-background-image h1{
    font-size: 25px;
    white-space: nowrap;
    
  }
  .info-on-background-image h3{
    white-space: nowrap;
    font-size: 20px;
  }
  .info-on-background-image span{
    font-size: 18px;
  }
  .order-form-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .order-form-heading h3{
    font-size: 20px;
    text-align: center;
  }
  .main-container-order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0px;
    background-color: var(--headertextcolor);
  }
  form{
    width:100%;
    height:auto;
    
  }
  .Container-order{
    width:100%;
    height: auto;
    
  }
  .purchase-item-list{
    width:100%;
    height:auto;
  }
  .grocery-combo-img{
    display:none;
  }
  .last-footer-section{
    display:flex;
    flex-wrap: wrap;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:auto;
  }
  .quick-check-links,
  .social-midea-links,
  .customer-service{
    margin:0px 0px 0px 0px;
  }
  .main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
  }

  .slide{
    position: absolute;
    height:auto;
    width:180px;
    background-color:var(--headertextcolor);
    transform: translatex(-180px);
    transition:0.5s all ease;
    top:0;
    z-index: 1111;
    margin-top: 65px;
  }
  .slide h1{
    color:#51ac37;
    text-align: right;
    margin-right: 15px;
    font-size: 25px;
  
  }
  ul li {
    list-style: none;
    
  }
  ul li:hover a {
    color:#fff;
    background-color:#51ac37;
    transform: 0.8s all ease;
  }
  ul li a {
    text-decoration: none;
    color:var(--header-color);
    font-weight:600;
    text-transform: capitalize;
    display: block;
    padding:10px 2px;
    font-size:16px ;
  }
  .toggle{
    position: absolute;
    top:5px;
    left:40px;
    width:30px;
    height:30px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-top: 22px;
  }
  .toggle .common{
    position: absolute;
    height:2.5px;
    width:20px;
    background-color:#000;
    transition: all 0.3 ease;
  }
  .toggle .top-line{
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .toggle .bottom-line{
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .toggle .middle-line{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  input:checked ~ .toggle .top-line{
    left:2px;
    top:14px;
    transform: rotate(45deg);
    width:25px;
  }
  input:checked ~ .toggle .bottom-line{
    left:2px;
    top:14px;
    transform: rotate(-45deg);
    width:25px;
  }
  input:checked ~ .toggle .middle-line{
    opacity:0;
    transform: rotate(20px);
  }
  input:checked ~ .slide{
    transform: translatex(0);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
  }
  .input-boss{
    opacity:0;
  }
  .hamburger-sec{
    width:100%;
    height:90px;
    background-color:var(--header-color);
    position: fixed;
    top:0;
    z-index: 1111111;
    display: flex;
    align-items: center;
  
  }
  .hamburger-menu-i-cart i{
    font-size: 30px;
    color:var(--login-button-text-color);
    margin-left: 90px;
    
  }
  .slide{
    display: block;
  }
  .toggle{
    display: block;
  }
  
}